src/main/resources/nl/gmt/data/schema/HibernateSchema-v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.gmt.nl/gmtdata/hibernate-schema/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nhs="http://schemas.gmt.nl/gmtdata/hibernate-schema/v1">

    <xs:element name="schema">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="nhs:SchemaElement">
                    <xs:sequence>
                        <xs:element ref="nhs:settings" minOccurs="0"/>
                        <xs:element ref="nhs:enumTypes" minOccurs="0"/>
                        <xs:element ref="nhs:dataTypes" minOccurs="0"/>
                        <xs:element ref="nhs:classes" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="namespace" type="xs:string" use="optional"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="settings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idProperty" minOccurs="0">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="nhs:IdProperty">
                                <xs:attribute name="name" type="xs:string" use="required"/>
                                <xs:attribute name="foreignPostfix" type="xs:string" use="required"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="enumDataType" minOccurs="0">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="nhs:SchemaElement">
                                <xs:attribute name="type" type="xs:string" use="required"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="mySql" minOccurs="0">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="nhs:SchemaElement">
                                <xs:attribute name="engine" type="xs:string" use="required"/>
                                <xs:attribute name="charset" type="xs:string" use="required"/>
                                <xs:attribute name="collation" type="xs:string" use="optional"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="enumTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="enumType">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="nhs:SchemaElement">
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="field">
                                        <xs:complexType>
                                            <xs:complexContent>
                                                <xs:extension base="nhs:SchemaElement">
                                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                                    <xs:attribute name="value" type="xs:int" use="optional"/>
                                                </xs:extension>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string" use="required"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="dataTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="dataType">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="nhs:DataType"/>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="classes">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="class">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="nhs:SchemaElement">
                                <xs:sequence>
                                    <xs:element name="idProperty" minOccurs="0">
                                        <xs:complexType>
                                            <xs:complexContent>
                                                <xs:extension base="nhs:IdProperty">
                                                    <xs:attribute name="dbSequence" type="xs:string" use="optional"/>
                                                    <xs:attribute name="dbIdName" type="xs:string" use="optional"/>
                                                    <xs:attribute name="compositeId" type="xs:string" use="optional"/>
                                                </xs:extension>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name="property">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="nhs:DataType"/>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="foreignParent">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="nhs:SchemaElement">
                                                        <xs:attribute name="name" type="xs:string" use="required"/>
                                                        <xs:attribute name="class" type="xs:string" use="required"/>
                                                        <xs:attribute name="indexed" type="nhs:Indexed" use="optional"/>
                                                        <xs:attribute name="nullable" type="xs:boolean" use="optional"/>
                                                        <xs:attribute name="dbName" type="xs:string" use="optional"/>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="foreignChild">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="nhs:SchemaElement">
                                                        <xs:attribute name="name" type="xs:string" use="required"/>
                                                        <xs:attribute name="class" type="xs:string" use="required"/>
                                                        <xs:attribute name="classProperty" type="xs:string"
                                                                      use="required"/>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="index">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="nhs:SchemaElement">
                                                        <xs:attribute name="properties" type="xs:string"
                                                                      use="required"/>
                                                        <xs:attribute name="unique" type="xs:boolean" use="optional"/>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string" use="required"/>
                                <xs:attribute name="boundedContext" type="xs:string" use="optional"/>
                                <xs:attribute name="dbName" type="xs:string" use="optional"/>
                                <xs:attribute name="persister" type="xs:string" use="optional"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="SchemaElement">
        <xs:attribute name="tags" type="xs:string" use="optional"/>
        <xs:attribute name="comments" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="DataType">
        <xs:complexContent>
            <xs:extension base="nhs:SchemaElement">
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="type" type="xs:string" use="optional"/>
                <xs:attribute name="dbType" type="xs:string" use="optional"/>
                <xs:attribute name="nativeType" type="xs:string" use="optional"/>
                <xs:attribute name="enumType" type="xs:string" use="optional"/>
                <xs:attribute name="signed" type="xs:boolean" use="optional"/>
                <xs:attribute name="length" type="xs:int" use="optional"/>
                <xs:attribute name="positions" type="xs:int" use="optional"/>
                <xs:attribute name="nullable" type="xs:boolean" use="optional"/>
                <xs:attribute name="indexed" type="nhs:Indexed" use="optional"/>
                <xs:attribute name="lazy" type="xs:boolean" use="optional"/>
                <xs:attribute name="dbName" type="xs:string" use="optional"/>
                <xs:attribute name="userType" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ForeignSet">
        <xs:complexContent>
            <xs:extension base="nhs:SchemaElement">
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="linksHere" type="xs:string" use="required"/>
                <xs:attribute name="linksThere" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IdProperty">
        <xs:complexContent>
            <xs:extension base="nhs:SchemaElement">
                <xs:sequence>
                    <xs:element ref="nhs:generator" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="type" type="xs:string" use="optional"/>
                <xs:attribute name="autoIncrement" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="generator">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="nhs:SchemaElement">
                    <xs:sequence>
                        <xs:element ref="nhs:parameter" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="strategy" type="xs:string" use="optional"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="parameter">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="nhs:SchemaElement">
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="value" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="Indexed">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
            <xs:enumeration value="unique"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
